

#movie {
    margin-bottom: 20px;
}

#poster {
    width: 150px;
    height: 200px;
    border: 1px solid blue;
}

.posterContainer {
    background-color: beige;
    width: 175px;
    height: 275px;
    text-align: center;
    display: inline-table;
    margin: 10px;
}


img {
    margin: 10px;
}

img:hover {
    opacity: .2;
    
}

label {
    text-align: center;
}