

#movie {
    margin-bottom: 20px;
}

.poster {
    width: 150px;
    height: 200px;
    
}

.posterContainer {
    background-color: beige;
    width: 175px;
    height: 275px;
    text-align: center;
    display: inline-table;
    margin: 10px;
    position: relative;
    
}

.cover {
    position: relative;
    z-index: 1;
    text-align: top;
    bottom: 200px;
    height: 0px;
}

img {
    margin: 10px;
}


label {
    text-align: center;
}