body {
    background-color: rgba(210, 180, 140, .3);
}

#movie {
    height: 20px;
    margin-right: 10px;
}

#title_container {
    height: 175px;
}

#container {
    text-align: center;
    background-color: rgba(210, 180, 140, .6);
    height: 600px;
    padding-top: 3em;
    padding-bottom: 3em;
    
}

#submit_button {
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
}

#submit_button:focus{
    outline: none;
}

#reel {
    width: 150px;
    height: 200px;
    float: left;
    
}


a {
    text-decoration: none;
    color: black;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    padding-top: 20px;
    
}

.submit {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 12%;

}

.poster {
    width: 150px;
    height: 200px;
    margin: 10px;
    
}

.cover {
    font-weight: bolder;
    background-color: blue;
}

.posterContainer {
    background-color: beige;
    width: 175px;
    height: 275px;
    text-align: center;
    display: inline-table;
    margin: 10px;
    position: relative;
    
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px;
    font-weight: bolder;
    
}

.button:focus {
    outline: none;
}


.cover {
    position: relative;
    z-index: 1;
    text-align: top;
    bottom: 200px;
    height: 0px;
    font-size: 12px;
}



label {
    text-align: center;
}